@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../font/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #fff;
}
#container {
  position: relative;
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;  
  align-items:center;
  flex-direction: column;  
}
.form-box {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 1024px;  
  padding: 0px 5px;
  background: #FFF;
  box-sizing: border-box;
  align-items:center;
}
.c-form  {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
}
.c-form-label {
  display: inline-block;
  margin: .5rem 0;
  letter-spacing: .2px;
  font-size: 12px;
  color:rgb(66, 74, 82);
}
.c-form-input {
  width: 100%;
  outline: 0;
  box-sizing: border-box;
  background: #FFF;
  color:rgb(66, 74, 82);
  border: 1px solid rgb(104, 63, 10);
  border-radius: 4px;
  padding: 10px 5px;
}
.c-form-input::placeholder {
  color: rgb(140, 143, 145);
  font-size: 12px;
}
.c-form-required {
  color: #B0092D;
}

input:required {
  box-shadow: 2px 2px 3px rgba(200, 0, 0, 0.85);
}

textarea.c-form-input {
  width: 100%;
  padding: 10px;
  resize: none;
  min-height: 10ch;
  max-height: 120ch;
}

[class*="-columns"] {
  display: grid;
  grid-template-columns: 100%;
}

fieldset {
  border: none;
  padding: 0;
  margin: .7rem 0;
}
.c-form-btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  outline: none;
  width: 100%;
  text-align: center;
  padding: 12px;
  font-size: 18px;
  margin-top: 15px;
  color: #FFF;
  background: rgb(66, 74, 82);
  letter-spacing: 2px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);  
}

.c-form-btn:hover {
    background-color: rgb(140, 143, 145);
    box-shadow: 0px 15px 20px rgb(140, 143, 145);;
    color: rgb(66, 74, 82);
    transform: translateY(-7px);
  }


@media screen and (min-width: 48rem) {  
  
  .two-columns {
    grid-template-columns: 48.7804878% 48.7804878%;
    grid-column-gap: 2.43902439%;
  }
  .three-columns {
    grid-template-columns: 31.7073170733% 31.7073170733% 31.7073170733%;
    grid-column-gap: 2.43902439%;
  }
  .four-columns {
    grid-template-columns: 23.1707317075% 23.1707317075% 23.1707317075% 23.1707317075%;
    grid-column-gap: 2.43902439%;
  }
  .five-columns {
    grid-template-columns: 19.315% 19.315% 19.315% 19.315% 19.315%;
    grid-column-gap: 1%;
  }
}

h3{
    font: normal normal normal 20px/1 Helvetica, arial, sans-serif;
    border-bottom: 2px solid rgb(66, 74, 82);
    background:rgb(250, 158, 13);
    color:rgb(66, 74, 82);    
    display:inline-block;
    padding:3px 15px;    
    width: 100%;    
    margin-top: 10px;
    margin-bottom: 0;
  }
  
#top_menu{
  background:rgb(250, 158, 13);
	padding: 20px 30px 15px 30px;
	margin: 0px -5px 0px -5px;
  width: 100%;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;	
	/*font: normal 30px 'Bitter', serif;*/
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid rgb(250, 158, 13);
}

#footer{
  background:rgb(250, 158, 13);
	padding: 20px 30px 15px 30px;
	margin: 5px -5px 0px -5px;
  width: 100%;
	border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	color: #fff;	
	/*font: normal 30px 'Bitter', serif;*/
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid rgb(250, 158, 13);
  font-size: 10px;
  text-align: right;
}

#logo { 
    float:left;
    width: 113px;
    height:84px;
    background:white url(../images/Logo_SPEXPLA.png) no-repeat 0 0    
}

#titulo{
    margin-left: 5px;
    float:left;
    font-size: 25px;     
    padding-top: 30px;
    text-shadow: 3px 3px 3px rgb(66, 74, 82);
}

.oculto{
    display:none;
}

.negrita{
  font-weight:bold;
}

.up{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -webkit-animation: flickerAnimation 2s infinite;
   -moz-animation: flickerAnimation 2s infinite;
   -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);    
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}


.arrow {
    border: solid rgb(66, 74, 82);
    border-width: 0 3px 3px 0;
    /*display: inline-block;*/
    padding: 3px;
    margin-top: 8px;
    float: right;    
    cursor: pointer;
}

.bottom {
  min-height: 100px;
}

.alt_label, p{
  font-size: 12px;
  font-style: italic;
  color:rgb(66, 74, 82);
}

.all-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  align-items:center;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, rgb(250, 158, 13) 100%);
	background-color:#ffc477;
	border-radius:6px;
	border:1px solid #eeb44f;	
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
  margin-left: 5px;
  margin-top: 2px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.myButton:hover {
	background:linear-gradient(to bottom, rgb(250, 158, 13) 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.myButton:active {
	position:relative;
	top:1px;
}
.item-sucursal, .item-banref{
  background-color:rgba(66, 74, 82, 0.1);  
  border-bottom: 1px  dashed rgb(66, 74, 82);
}
.close {  
  display:inline-block;
  padding:2px 5px;  
  width: 99%;
  text-align: right;
  margin-top: 2px;  
  background-color:rgba(66, 74, 82, 0.1);  
}
.x{ 
  cursor:pointer;
  color:rgb(66, 74, 82);
}
.x:hover{
  color: rgb(250, 158, 13);
}
.break{
  margin-top: 20px;
}

:root {
  --main-color: #111;
  --loader-color: rgb(250, 158, 13);
  --back-color: #fce2c1;
  --time: 2s;
  --size: 5px;
}

.loader {
	background-color: var(--main-color);
	overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; left: 0;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: flex-start;  
	z-index: 100000;
}

.loader__element {
	height: var(--size);
	width: 100%;
	background: var(--back-color);
}

.loader__element:before {
	content: '';
	display: block;
	background-color: var(--loader-color);
	height: var(--size);
	width: 0;
  animation: getWidth var(--time) ease-in infinite;
}

@keyframes getWidth {
	100% { width: 100%; }
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  /*display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.modal-content {
  border-radius: 10px 10px 10px 10px;       
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  /*border: 1px solid #888;*/
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-content p {
  color:#4D4D4D;
  text-align: justify;
  font-style: unset;
}

/* Add Animation */

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.modal-close {
  color: white;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {padding: 2px 10px;}

.modal-header{
  border-radius: 10px 10px 0px 0px; 
  padding: 2px 10px;
  /**/
  color: white;
  height: 36px;  
}
.modal-title{
  margin-top: 8px;  
  text-shadow: 3px 3px 3px #4D4D4D;;
}

.modal-error{
  background-color: #ad6f6f;
}

.modal-success{
  background-color: #6fad6f;
}

.modal-warning{
  background-color: #dad625;
}

.status-nofile{
  color: #ad6f6f;
}

.status-saved{
  color: #6fad6f;
}

.status-saved a{
  text-decoration: none;  
  color: #6fad6f;
}

.pequena{
  font-size: 14px;
}

